{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="p-5">
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">
      <i class="fa-solid fa-user-pen"></i> Edit Your Profile
    </a>
  </div>

  <div class="container mb-5">
    <div class="row">
      {% for c in data %}
        <div class="col-sm-3">
          <div class="card m-2 text-center">
            <div class="card-body">
              <img src="{{ c.car.image.url }}" class="card-img-top" alt="{{ c.car.name }}"/>
              <h5 class="card-title fw-bolder">{{ c.car.name }}</h5>
              <p class="card-text fw-lighter">Price: ৳{{ c.car.price }}</p>
              <h5 class="fw-light">Brand: {{ c.car.brand.name }}</h5>
              <a href="{% url 'detail_car' c.car.id %}" class="btn btn-outline-danger mt-3">
                View Details
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
