{% extends 'base.html' %}

{% block content %}
  <div class="container p-5">
    <div class="row">
      {% for task in data %}
        <div class="col-lg-4 d-block d-lg-flex">
          <div class="card mb-5">
            <div class="card-body">
              <p>Task ID : {{ task.id }}</p>
              <h6 class="card-title">{{ task.task_title }}</h6>
              <p>Assign Date : {{ task.task_assign_date }}</p>
              <p class="card-text" style="font-size: 12px;">{{ task.task_description }}</p>
              <p>
                Category :{% for cat in task.categories.all %}
                  {% comment %} <button class="btn btn-primary btn-sm m-2" disabled>{{ task.category_name }}</button> {% endcomment %}
                  <a href="#" class="#">{{ cat.category_name }}</a>
                {% endfor %}
              </p>
              {% if task.is_completed %}
                <p class="text-center text-info">Completed</p>
              {% else %}
                <a href=" {% url 'edit_task' task.id %} " class="btn btn-primary">Edit</a>
                <a href=" {% url 'delite_task' task.id %} " class="btn btn-danger">Delite</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
